# Dictonaries

## In Dictonaries there are two things Keys and Values. Keys are Immutable and Uniqe
## But Values are mutable and Duplicates

In [1]:
dict1={"number":1, "string":"hellow", "tuple":[12,33,44] , "list":(123,456,78)}

In [2]:
dict1

{'number': 1,
 'string': 'hellow',
 'tuple': [12, 33, 44],
 'list': (123, 456, 78)}

In [14]:
dict1["number"] #acces Items

1

In [15]:
dict1["string"]

'hellow'

In [16]:
dict1["string"]="Hello World"

In [17]:
dict1["string"]

'Hello World'

In [18]:
dict1["add new Key"]= "Value"

In [56]:
dict1

{'number': 1,
 'string': 'Hello World',
 'tuple': [12, 33, 44],
 'list': (123, 456, 78),
 'add new Key': 'Value'}

In [62]:
for i in dict1.items():
    print(i)

('number', 1)
('string', 'Hello World')
('tuple', [12, 33, 44])
('list', (123, 456, 78))
('add new Key', 'Value')

In [60]:
dict1

{'number': 1,
 'string': 'Hello World',
 'tuple': [12, 33, 44],
 'list': (123, 456, 78),
 'add new Key': 'Value'}

In [9]:
"Why" in dict1

False

In [10]:
"number" in dict1

True

In [11]:
dict1.keys()

dict_keys(['number', 'string', 'tuple', 'list'])

In [12]:
dict1.values()

dict_values([1, 'hellow', [12, 33, 44], (123, 456, 78)])

In [20]:
nesteddict={"name":{"fname": "Tharindu","lname":"Senanayake"}}

In [21]:
nesteddict

{'name': {'fname': 'Tharindu', 'lname': 'Senanayake'}}

In [52]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6} 
Dict["D"]

(4, 4, 4)

In [53]:
for i in Dict:
    print(i)

A
B
C
D
E
F

In [63]:
for i in Dict.items():
    print(i)

('A', 1)
('B', '2')
('C', [3, 3, 3])
('D', (4, 4, 4))
('E', 5)
('F', 6)

In [64]:
Dictn={"car1":{"audi":2004},"car2":{"BMW":2008},"car3":{"Benz":1998}}

In [68]:
Dictn["car1"] #indexing

{'audi': 2004}

In [69]:
Dictn["car1"]["audi"]

2004

# Sets..
### sets are  mutable, iterable and have no duplicate elements

In [74]:
newset=set()  #declear set
type(newset)

set23={12,25,65,56}
set23

{12, 25, 56, 65}

In [27]:
newset={"New1","BMW","Audi"}

In [28]:
newset

{'Audi', 'BMW', 'New1'}

In [29]:
newset2={1,2,3,54,4,54}

In [30]:
newset2

{1, 2, 3, 4, 54}

# No duplicate values

In [31]:
newset2[2]

TypeError: 'set' object is not subscriptable

In [32]:
newset[0] #not support indexing

TypeError: 'set' object is not subscriptable

In [33]:
newset.add("Add")

In [34]:
newset

{'Add', 'Audi', 'BMW', 'New1'}

In [35]:
set1={12,154,789,4545}
set2={12,55,789,4542}

In [36]:
set2.difference(set1)

{55, 4542}

In [37]:
set1.intersection(set2)

{12, 789}

In [43]:
set3={12,1111,1111111,2323}
set3.difference(set1)

{1111, 2323, 1111111}

In [44]:
set3

{12, 1111, 2323, 1111111}

In [45]:
set3.difference_update(set1) #remove 12 from set3

In [41]:
set3

{1111, 2323, 1111111}

In [47]:
set4={1111,222,555}

In [48]:
set3.intersection(set4)

{1111}

In [49]:
set3.intersection_update(set4) #update set3 with common element in set4

In [50]:
set3

{1111}

In [51]:
set4

{222, 555, 1111}

In [70]:
for x in set1:
    print(x)

4545
154
12
789

In [71]:
12 in set1

True

In [72]:
1223 in set1

False

In [81]:
newset1=[1,11,1]

In [82]:
newset1

[1, 11, 1]

In [84]:
newsetss=set(newset1)

In [85]:
newsetss #list convert into set. remove duplicates

{1, 11}

In [86]:
 type(set([1,2,3]))

set

In [87]:
{'a','b'} & {'a'}

{'a'}