# Data Structures in Python

# 1.) Tupple

In [1]:
tupple1=(10,20,30,40)

In [2]:
print(tupple1)

(10, 20, 30, 40)

In [4]:
tupple1[0]

10

In [19]:
tuplnew=tupple1 + (6500 , 100 , 200,450,896,352,658)

In [20]:
print(tuplnew)

(10, 20, 30, 40, 6500, 100, 200, 450, 896, 352, 658)

In [16]:
len(tuplnew)

11

In [21]:
tuplnew[0:10]

(10, 20, 30, 40, 6500, 100, 200, 450, 896, 352)

In [25]:
tuplnew[2]=50          #tuple in python is immutable. Unchangble. If you want to change it you have to create another tuple

TypeError: 'tuple' object does not support item assignment

In [24]:
newt=sorted(tuplnew)
newt

[10, 20, 30, 40, 100, 200, 352, 450, 658, 896, 6500]

In [27]:
tuplnew

(10, 20, 30, 40, 6500, 100, 200, 450, 896, 352, 658)

In [29]:
tuplnew=sorted(tuplnew)
tuplnew

[10, 20, 30, 40, 100, 200, 352, 450, 658, 896, 6500]

# Nested tuple

In [35]:
newtuple=(1,(2,58,96),(256,456,(250,45698,(256,22))))

In [36]:
newtuple

(1, (2, 58, 96), (256, 456, (250, 45698, (256, 22))))

In [37]:
len(newtuple)

3

In [41]:
newtuple[1]

(2, 58, 96)

In [42]:
newtuple[1][2]

96

In [43]:
newtuple[2]

(256, 456, (250, 45698, (256, 22)))

In [44]:
newtuple[2][1]

456

In [45]:
newtuple[2][2]

(250, 45698, (256, 22))

In [46]:
newtuple[2][2][1]

45698

In [47]:
newtuple[2][2][2]

(256, 22)

In [48]:
newtuple[2][2][2][1]

22

In [67]:
nt=(1,2,3,"xyzr",("abcd",456,("qwe",56)))

In [68]:
nt

(1, 2, 3, 'xyzr', ('abcd', 456, ('qwe', 56)))

In [69]:
nt[3]

'xyzr'

In [70]:
nt[3][1]

'y'

In [72]:
nt[4][0][2]

'c'

In [75]:
nt[4][2][1]

56

In [84]:
newt1=nt

In [85]:
newt1

(1, 2, 3, 'xyzr', ('abcd', 456, ('qwe', 56)))

In [86]:
newt1[2]="pop"

TypeError: 'tuple' object does not support item assignment

In [88]:
newt1=(123,876,589)

In [89]:
newt1

(123, 876, 589)

#  2. Lists

In [49]:
list1=[1,258,66]

In [50]:
list1

[1, 258, 66]

In [52]:
list1[-1]

66

In [53]:
list1.extend([895,456]) #mutable. can change

In [54]:
list1

[1, 258, 66, 895, 456]

In [55]:
list1.append(["xxs",1.265])

In [56]:
list1

[1, 258, 66, 895, 456, ['xxs', 1.265]]

In [57]:
list1[5]

['xxs', 1.265]

In [77]:
list[5][1]

TypeError: 'type' object is not subscriptable

In [78]:
list1[1]=4500

In [79]:
list1

[1, 4500, 66, 895, 456, ['xxs', 1.265]]

In [80]:
list1[2]="abcd"

In [81]:
list1

[1, 4500, 'abcd', 895, 456, ['xxs', 1.265]]

In [82]:
del(list1[2])

In [83]:
list1

[1, 4500, 895, 456, ['xxs', 1.265]]

In [90]:
"ABCD".split(",")

['ABCD']

# # Clone the list

In [91]:
listA=[123,345,567]
listB=listA[:]

In [92]:
listB

[123, 345, 567]

In [93]:
listB[1]="abcd"

In [96]:
print(listA)
print(listB)

[123, 345, 567]
[123, 'abcd', 567]

# When clone it didnt affect to the other list

In [97]:
listnew=listA

In [98]:
listnew

[123, 345, 567]

In [99]:
listnew[1]="Covid 19"

# No clone it affects

In [100]:
print(listnew)
print(listA)

[123, 'Covid 19', 567]
[123, 'Covid 19', 567]

In [101]:
help(listA)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [102]:
[1,2,3]+[1,1,1]

[1, 2, 3, 1, 1, 1]

In [103]:
A=[1]

In [104]:
A.append([1,2,3])

In [105]:
A

[1, [1, 2, 3]]

In [106]:
len(A)

2

In [111]:
"Hello Mike".split()

['Hello', 'Mike']